docs/n8n_canva_branding_workflow.json
{
  "name": "IDCS Canva Branding Poster Generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "canva-poster",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Receive Event Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// ─── Validate incoming payload ────────────────────────────────────────────\nconst p = $input.first().json.body || $input.first().json;\n\nif (!p.event_id)           throw new Error('Missing event_id in payload');\nif (!p.brand_template_id)  throw new Error('Missing brand_template_id in payload');\nif (!p.callback_url)       throw new Error('Missing callback_url in payload');\n\n// ─── Build the /api/canva/generate-poster request body ────────────────────\n// Two modes:\n//   1. HOD form (via Django proxy): fields already prepared in p.form_fields / p.fields\n//   2. Event-save trigger (fire_n8n_branding): flat payload with individual keys\nlet fields = {};\nif (p.form_fields && typeof p.form_fields === 'object' && Object.keys(p.form_fields).length > 0) {\n  fields = p.form_fields;\n} else if (p.fields && typeof p.fields === 'object' && Object.keys(p.fields).length > 0) {\n  fields = p.fields;\n} else {\n  // Mode 2: extract from flat event payload (used by n8n_poster_service.py)\n  const textKeys = [\n    'event_name','organizer_department','start_month','start_day','end_day','year',\n    'event_time','venue_location',\n    'chief_guest_name','chief_guest_position','chief_guest_company','chief_guest_location',\n    'committee_member_1_name','committee_member_1_role',\n    'committee_member_2_name','committee_member_2_role',\n    'committee_member_3_name','committee_member_3_role',\n    'committee_member_4_name','committee_member_4_role',\n    'committee_member_5_name','committee_member_5_role',\n    'committee_member_6_name','committee_member_6_role',\n    'website_text','instagram_handle',\n  ];\n  for (const k of textKeys) {\n    if (p[k] && String(p[k]).trim()) fields[k] = String(p[k]).trim();\n  }\n  // Image fields — pass URL key so Django maps them correctly\n  if (p.chief_guest_photo_url) fields['chief_guest_photo'] = p.chief_guest_photo_url;\n  if (p.qr_code_image_url)     fields['qr_code_image']     = p.qr_code_image_url;\n}\n\n// Resolve backend URL: prefer env var injected at n8n level, fallback to payload\nconst backendBase = $env.IDCS_BACKEND_URL || p.idcs_backend_url || 'http://localhost:8000';\n\nreturn [{\n  json: {\n    event_id:          p.event_id,\n    callback_url:      p.callback_url,\n    secret:            p.secret || '',\n    generate_url:      `${backendBase}/api/canva/generate-poster`,\n    brand_template_id: p.brand_template_id,\n    export_format:     (p.export_format || p.format || 'png').toLowerCase(),\n    fields,\n  }\n}];\n"
      },
      "id": "build-request",
      "name": "Build Django Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.generate_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "X-N8N-Request", "value": "1" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ brand_template_id: $json.brand_template_id, format: $json.export_format, fields: $json.fields }) }}",
        "options": {
          "timeout": 120000,
          "response": { "response": { "neverError": true } }
        }
      },
      "id": "call-django-generate",
      "name": "Call IDCS Generate Poster",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [700, 300]
    },
    {
      "parameters": {
        "jsCode": "// Pull context from the Build step (not from the HTTP response node)\nconst ctx  = $('Build Django Request').first().json;\nconst resp = $input.first().json;\n\n// Django returns { design_id, dataUrl, export_url } on success\n// or { detail: '...' } on error\nconst designId   = resp.design_id  || '';\nconst exportUrl  = resp.export_url || '';\nconst warning    = resp.warning    || '';\nconst errDetail  = resp.detail     || '';\n\nif (errDetail && !designId) {\n  // Django returned an explicit error — forward as failure\n  return [{ json: { ...ctx, success: false, error: errDetail } }];\n}\n\nif (!designId && !exportUrl) {\n  return [{ json: { ...ctx, success: false, error: warning || 'No poster generated by Django' } }];\n}\n\nconst previewLink = designId ? `https://www.canva.com/design/${designId}/view` : '';\n\nreturn [{ json: {\n  ...ctx,\n  success:      true,\n  design_id:    designId,\n  poster_url:   exportUrl,\n  preview_link: previewLink,\n  data_url:     resp.dataUrl || '',\n} }];\n"
      },
      "id": "parse-django-response",
      "name": "Parse Django Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [940, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.callback_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ secret: $json.secret, poster_url: $json.poster_url, design_id: $json.design_id, preview_link: $json.preview_link }) }}",
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "post-callback",
      "name": "POST Result to IDCS Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1180, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: $('Parse Django Response').first().json.success, design_id: $('Parse Django Response').first().json.design_id, dataUrl: $('Parse Django Response').first().json.data_url, poster_url: $('Parse Django Response').first().json.poster_url, preview_link: $('Parse Django Response').first().json.preview_link, error: $('Parse Django Response').first().json.error || null }) }}",
        "options": { "responseCode": 200 }
      },
      "id": "webhook-response",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1420, 300]
    }
  ],
  "connections": {
    "Receive Event Webhook": {
      "main": [[{ "node": "Build Django Request", "type": "main", "index": 0 }]]
    },
    "Build Django Request": {
      "main": [[{ "node": "Call IDCS Generate Poster", "type": "main", "index": 0 }]]
    },
    "Call IDCS Generate Poster": {
      "main": [[{ "node": "Parse Django Response", "type": "main", "index": 0 }]]
    },
    "Parse Django Response": {
      "main": [[{ "node": "POST Result to IDCS Backend", "type": "main", "index": 0 }]]
    },
    "POST Result to IDCS Backend": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-03-05T00:00:00.000Z",
  "versionId": "2"
}


